---
layout: default
---
<article class="page">
    {% if page.title %}
    <h1 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    <div class="entry-content">{{ content }}</div>

	<!-- highlight -->
	<!-- {% include private/highlight.html %} -->

	<!-- duoshuo plugin -->
    <section>
      <h1>Comments(需翻墙)</h1>
      <div id="comments" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
</article>
