<script src="{{ root_url }}/javascripts/slash.js"></script>
{% include fancybox.html %}
<!-- Delete or comment this line to disable Fancybox -->
<!-- {% include disqus.html %}
{% include google_analytics.html %}
{% include custom/after_footer.html %} -->

<script id="dsq-count-scr" src="{{ root_url }}/javascripts/disqus_count.js" async></script>

<!-- baidu analyse -->
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?f08a1f7937d18f480bef30f531b4289f";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- pace -->
<script src="{{ root_url }}/javascripts/pace-1.0.2/pace.min.js"></script>
<link href="{{ root_url }}/javascripts/pace-1.0.2/pace.css" rel="stylesheet" />
