<script src="{{ root_url }}/javascripts/slash.js"></script>
{% include fancybox.html %}
<!-- Delete or comment this line to disable Fancybox -->
<!-- {% include disqus.html %}
{% include google_analytics.html %}
{% include custom/after_footer.html %} -->

<script id="dsq-count-scr" src="{{ root_url }}/javascripts/disqus_count.js" async></script>

<!-- hwa analyses -->
<script>
(function(i,d,t,o,u,h,s,f){i[t]=i[t]||[],i[t].push(h);i[h]=i[h]||function(){
return (i[h].q=i[h].q||[]).push(arguments)};s=d.createElement(o);s.src=u;
s.async=1;f=d.getElementsByTagName(o)[0];f.parentNode.insertBefore(s,f);
})(window,document,"HyperAnalyticsObject","script","//t.hypers.com.cn/hwt.js?v=1.6","_ha");
_ha("create","4007");
_ha("send","pageview");
</script>


<!-- baidu analyse -->
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?f08a1f7937d18f480bef30f531b4289f";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- pace -->
<script src="{{ root_url }}/javascripts/pace-1.0.2/pace.min.js"></script>
<link href="{{ root_url }}/javascripts/pace-1.0.2/pace.css" rel="stylesheet" />
